### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
schooldata = "Resources/schools_complete.csv"
studentdata = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schooldata = pd.read_csv(schooldata)
studentdata = pd.read_csv(studentdata)

#schooldata.head()
#studentdata.head()

# Combine the data into a single dataset.  
combined = pd.merge(studentdata, schooldata, how="left", on=["school_name", "school_name"])
combined.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#Create copy of combined to use on second half of assignment
combined1 = combined.copy()
combined1

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [3]:
#Checking to make sure there is no missing data
combined.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [4]:
#checking the names of all columns
combined.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [5]:
#Calculate the total number of schools 
CountSchools = len(combined["school_name"].unique())
CountSchools

15

In [6]:
#Calculate enrollment by school
##remove .sum() to get school list w/values 2 columns
Enrollment = combined["school_name"].value_counts()
Enrollment

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [7]:
#Calculate the total number of students
StudentCount =  combined["Student ID"].count().sum()
StudentCount

39170

In [8]:
#Calculate the total budget

TotalBudget = combined.groupby(["school_name"]).mean()["budget"]
TotalBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [9]:
#Budget for all districts

AllBudget = TotalBudget.sum()
AllBudget

24649428.0

In [10]:
#Calculate the average math score
AvgMath = combined["math_score"].mean()
AvgMath

78.98537145774827

In [11]:
#Calculate the average reading score
AvgRead = combined["reading_score"].mean()
AvgRead

81.87784018381414

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
PassMath = combined["math_score"] > 69
PassMath2 = PassMath.sum()/39170 * 100
PassMath2

74.9808526933878

In [13]:
#Calculate the percentage of students with a passing reading score (70 or greater)

PassRead = combined["reading_score"] > 69  
PassRead2 = PassRead.sum()/39710 * 100
PassRead2

84.63863006799295

In [14]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)

PassBoth = (combined["math_score"] > 69) & (combined["reading_score"] > 69)
PassBoth2 = PassBoth.sum()/39710*100
PassBoth2

64.28607403676656

In [15]:
#Create a dataframe to hold the above results
DistrictSummary = pd.DataFrame({
    "Total Schools": [CountSchools],
    "Total Students": [StudentCount],
    "Total Budget": [AllBudget],
    "Average Math Score": [AvgMath],
    "Average Reading Score": [AvgRead],
    "% Passing Math": [PassMath2],
    "% Passing Reading": [PassRead2],
    "% Overall Passing": [PassBoth2]
    
})

DistrictSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,74.980853,84.63863,64.286074

In [16]:
#Optional: give the displayed data cleaner formatting


DistrictSummary["Total Budget"] = DistrictSummary["Total Budget"].map("${:,.2f}".format)
DistrictSummary["Average Math Score"] = DistrictSummary["Average Math Score"].map("{:,.2f}".format)
DistrictSummary["Average Reading Score"] = DistrictSummary["Average Reading Score"].map("{:,.2f}".format)
DistrictSummary["% Passing Math"]= DistrictSummary["% Passing Math"].map("%{:,.2f}".format)
DistrictSummary["% Passing Reading"] = DistrictSummary["% Passing Reading"].map("%{:,.2f}".format)
DistrictSummary["% Overall Passing"] = DistrictSummary["% Overall Passing"].map("%{:,.2f}".format)

In [17]:
DistrictSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.99,81.88,%74.98,%84.64,%64.29


## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [18]:
#TO DO
# make school_name column into the index (last)

#rename math_score and reading_score to "Average Math Score and Average Reading Score"

#Need to add %pass math, reading and overall pass BUT need student count for grades over 69 to use with "size" column
#get this count info from District part of assignment

#Add calculated column, per student budget, ["budget"]/["size"] - numeric values

In [19]:
#Reorganizing Columns using double brackets
ChangeColumns = combined[["school_name", "type", "size", "budget","math_score","reading_score"]]
ChangeColumns = ChangeColumns.rename(columns ={"type":"School Type"})
ChangeColumns

,school_name,School Type,size,budget,math_score,reading_score
0,Huang High School,District,2917,1910635,79,66
1,Huang High School,District,2917,1910635,61,94
2,Huang High School,District,2917,1910635,60,90
3,Huang High School,District,2917,1910635,58,67
4,Huang High School,District,2917,1910635,84,97
...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,90,99
39166,Thomas High School,Charter,1635,1043130,70,95
39167,Thomas High School,Charter,1635,1043130,84,73
39168,Thomas High School,Charter,1635,1043130,90,99
39169,Thomas High School,Charter,1635,1043130,75,95

In [20]:
#check names of DF columns
ChangeColumns.columns

Index(['school_name', 'School Type', 'size', 'budget', 'math_score',
       'reading_score'],
      dtype='object')

In [21]:
ChangeColumns = ChangeColumns.sort_values("school_name")
ChangeColumns

,school_name,School Type,size,budget,math_score,reading_score
19584,Bailey High School,District,4976,3124928,92,82
21193,Bailey High School,District,4976,3124928,89,88
21192,Bailey High School,District,4976,3124928,67,86
21191,Bailey High School,District,4976,3124928,75,70
21190,Bailey High School,District,4976,3124928,82,77
...,...,...,...,...,...,...
24829,Wright High School,Charter,1800,1049400,77,84
24828,Wright High School,Charter,1800,1049400,80,95
24827,Wright High School,Charter,1800,1049400,74,74
24797,Wright High School,Charter,1800,1049400,83,90
26035,Wright High School,Charter,1800,1049400,80,98

In [22]:
SchoolSummary = ChangeColumns.groupby(["school_name","School Type"])
SchoolSummary = SchoolSummary.mean()
SchoolSummary

,,size,budget,math_score,reading_score
school_name,School Type,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020
Ford High School,District,2739.0,1763916.0,77.102592,80.746258
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412
Holden High School,Charter,427.0,248087.0,83.803279,83.814988
Huang High School,District,2917.0,1910635.0,76.629414,81.182722
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394
Pena High School,Charter,962.0,585858.0,83.839917,84.044699
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000

In [23]:
SchoolSummary["Budget Per Student"]= SchoolSummary["budget"]/SchoolSummary["size"]
SchoolSummary

,,size,budget,math_score,reading_score,Budget Per Student
school_name,School Type,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,628.0
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,644.0
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,581.0
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,600.0
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,583.0

In [24]:
##Need to calculate actual number of students with passing grades for the % columns
##I'm using my "combined" df from the first half of the assignment, here I'm rechecking what i have

combined

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [25]:
#Find the percent of students passing math per school
percent_pass_math = combined.loc[combined["math_score"] > 69]
MathSummary = percent_pass_math.groupby(["school_name","type"])["Student ID"].count()
MathSummary

school_name            type
Bailey High School     District    3318
Cabrera High School    Charter     1749
Figueroa High School   District    1946
Ford High School       District    1871
Griffin High School    Charter     1371
Hernandez High School  District    3094
Holden High School     Charter      395
Huang High School      District    1916
Johnson High School    District    3145
Pena High School       Charter      910
Rodriguez High School  District    2654
Shelton High School    Charter     1653
Thomas High School     Charter     1525
Wilson High School     Charter     2143
Wright High School     Charter     1680
Name: Student ID, dtype: int64

In [26]:
#Add % passing math to the SchoolSummary df
SchoolSummary["% Passing Math"]= MathSummary/SchoolSummary["size"]*100
SchoolSummary

,,size,budget,math_score,reading_score,Budget Per Student,% Passing Math
school_name,School Type,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,628.0,66.680064
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0,94.133477
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0,65.988471
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,644.0,68.309602
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0,93.392371
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0,66.752967
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,581.0,92.505855
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0,65.683922
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0,66.057551
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0,94.594595
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0,66.366592
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,600.0,93.867121
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0,93.272171
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0,93.867718
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,583.0,93.333333

In [27]:
#Find the % students passing Reading
percent_pass_reading = combined.loc[combined["reading_score"] > 69]
ReadingSummary = percent_pass_reading.groupby(["school_name","type"])["Student ID"].count()
ReadingSummary

school_name            type
Bailey High School     District    4077
Cabrera High School    Charter     1803
Figueroa High School   District    2381
Ford High School       District    2172
Griffin High School    Charter     1426
Hernandez High School  District    3748
Holden High School     Charter      411
Huang High School      District    2372
Johnson High School    District    3867
Pena High School       Charter      923
Rodriguez High School  District    3208
Shelton High School    Charter     1688
Thomas High School     Charter     1591
Wilson High School     Charter     2204
Wright High School     Charter     1739
Name: Student ID, dtype: int64

In [28]:
#Add % passing reading to the SchoolSummary df
SchoolSummary["% Passing Reading"]= ReadingSummary/SchoolSummary["size"]*100
SchoolSummary

,,size,budget,math_score,reading_score,Budget Per Student,% Passing Math,% Passing Reading
school_name,School Type,,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,628.0,66.680064,81.933280
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0,94.133477,97.039828
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0,65.988471,80.739234
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,644.0,68.309602,79.299014
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0,93.392371,97.138965
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0,66.752967,80.862999
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,581.0,92.505855,96.252927
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0,65.683922,81.316421
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0,66.057551,81.222432
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0,94.594595,95.945946
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0,66.366592,80.220055
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,600.0,93.867121,95.854628
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0,93.272171,97.308869
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0,93.867718,96.539641
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,583.0,93.333333,96.611111

In [29]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_percent_pass = combined.loc[(combined["math_score"] > 69) & (combined["reading_score"] > 69)]
OverallPass = overall_percent_pass.groupby(["school_name","type"])["Student ID"].count()
OverallPass

school_name            type
Bailey High School     District    2719
Cabrera High School    Charter     1697
Figueroa High School   District    1569
Ford High School       District    1487
Griffin High School    Charter     1330
Hernandez High School  District    2481
Holden High School     Charter      381
Huang High School      District    1561
Johnson High School    District    2549
Pena High School       Charter      871
Rodriguez High School  District    2119
Shelton High School    Charter     1583
Thomas High School     Charter     1487
Wilson High School     Charter     2068
Wright High School     Charter     1626
Name: Student ID, dtype: int64

In [30]:
#Add Overall % passing to SchoolSummary df
SchoolSummary["% Overall Passing"] = OverallPass/SchoolSummary["size"]*100
SchoolSummary

,,size,budget,math_score,reading_score,Budget Per Student,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [31]:
#Reorder, Rename and drop School Size column
SchoolSummary.columns

Index(['size', 'budget', 'math_score', 'reading_score', 'Budget Per Student',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [32]:
FinalSchoolSummary = SchoolSummary[["size","budget","Budget Per Student","math_score","reading_score","% Passing Math", "% Passing Reading", "% Overall Passing"]]

FinalSchoolSummary = FinalSchoolSummary.reset_index()

FinalSchoolSummary = FinalSchoolSummary.rename(columns = {
    "school_name":"School Name",
    "type":"School Type",
    "size":"Total Students",
    "budget":"Total School Budget",
    "math_score":"Average Math Score",
    "reading_score":"Average Reading Score",   
})

FinalSchoolSummary = FinalSchoolSummary.set_index("School Name")

FinalSchoolSummary.index.names=[""]

FinalSchoolSummary

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976.0,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [33]:
#Re-Formatting the budget lines for $ and commas
#I like the cleaner look of % even though not in instructions

FinalSchoolSummary["Total School Budget"] = FinalSchoolSummary["Total School Budget"].map("${:,.2f}".format)
FinalSchoolSummary["Budget Per Student"] = FinalSchoolSummary["Budget Per Student"].map("${:,.2f}".format)
FinalSchoolSummary["Average Math Score"] = FinalSchoolSummary["Average Math Score"].map("{:,.2f}".format)
FinalSchoolSummary["Average Reading Score"] = FinalSchoolSummary["Average Reading Score"].map("{:,.2f}".format)
FinalSchoolSummary["% Passing Math"]= FinalSchoolSummary["% Passing Math"].map("%{:,.2f}".format)
FinalSchoolSummary["% Passing Reading"] = FinalSchoolSummary["% Passing Reading"].map("%{:,.2f}".format)
FinalSchoolSummary["% Overall Passing"] = FinalSchoolSummary["% Overall Passing"].map("%{:,.2f}".format)

FinalSchoolSummary

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,District,4976.0,"$3,124,928.00",$628.00,77.05,81.03,%66.68,%81.93,%54.64
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%91.33
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%53.20
Ford High School,District,2739.0,"$1,763,916.00",$644.00,77.10,80.75,%68.31,%79.30,%54.29
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%90.60
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.29,80.93,%66.75,%80.86,%53.53
Holden High School,Charter,427.0,"$248,087.00",$581.00,83.80,83.81,%92.51,%96.25,%89.23
Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%53.51
Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%53.54
Pena High School,Charter,962.0,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%90.54
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%52.99
Shelton High School,Charter,1761.0,"$1,056,600.00",$600.00,83.36,83.73,%93.87,%95.85,%89.89
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%90.95
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%90.58
Wright High School,Charter,1800.0,"$1,049,400.00",$583.00,83.68,83.95,%93.33,%96.61,%90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [34]:
FinalSchoolSummary=FinalSchoolSummary.sort_values("% Overall Passing", ascending = False)  
#FinalSchoolSummary
FinalSchoolSummary.head()

#Puzzling that the budget per student is higher in the District schools, 
#yet they are consistently performing lower than the charter schools.
#Money is not defining performance here, something else is, maybe class size?

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Cabrera High School,Charter,1858.0,"$1,081,356.00",$582.00,83.06,83.98,%94.13,%97.04,%91.33
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,83.42,83.85,%93.27,%97.31,%90.95
Griffin High School,Charter,1468.0,"$917,500.00",$625.00,83.35,83.82,%93.39,%97.14,%90.60
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,83.27,83.99,%93.87,%96.54,%90.58
Pena High School,Charter,962.0,"$585,858.00",$609.00,83.84,84.04,%94.59,%95.95,%90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [35]:
FinalSchoolSummary=FinalSchoolSummary.sort_values("% Overall Passing", ascending = True)  
FinalSchoolSummary.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%52.99
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%53.20
Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%53.51
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.29,80.93,%66.75,%80.86,%53.53
Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%53.54

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [36]:
#Calculate the means, by grade, using df from first part of assignment

nineth_grade = combined[combined["grade"] =="9th"].groupby("school_name").mean()["math_score"].map("{:,.2f}".format)
tenth_grade = combined[combined["grade"] =="10th"].groupby("school_name").mean()["math_score"].map("{:,.2f}".format)
eleventh_grade = combined[combined["grade"] =="11th"].groupby("school_name").mean()["math_score"].map("{:,.2f}".format)
twelveth_grade = combined[combined["grade"] =="12th"].groupby("school_name").mean()["math_score"].map("{:,.2f}".format)

In [37]:
#put series into a dataframe
MathGrade = pd.DataFrame({"9th":nineth_grade, "10th":tenth_grade, "11th":eleventh_grade, "12th":twelveth_grade})
MathGrade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [38]:
nineth_grade = combined[combined["grade"] =="9th"].groupby("school_name").mean()["reading_score"].map("{:,.2f}".format)
tenth_grade = combined[combined["grade"] =="10th"].groupby("school_name").mean()["reading_score"].map("{:,.2f}".format)
eleventh_grade = combined[combined["grade"] =="11th"].groupby("school_name").mean()["reading_score"].map("{:,.2f}".format)
twelveth_grade = combined[combined["grade"] =="12th"].groupby("school_name").mean()["reading_score"].map("{:,.2f}".format)

In [39]:
#put series into a dataframe
ReadGrade = pd.DataFrame({"9th":nineth_grade, "10th":tenth_grade, "11th":eleventh_grade, "12th":twelveth_grade})
ReadGrade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [40]:
FinalSchoolSummary.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
,,,,,,,,,
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,76.84,80.74,%66.37,%80.22,%52.99
Figueroa High School,District,2949.0,"$1,884,411.00",$639.00,76.71,81.16,%65.99,%80.74,%53.20
Huang High School,District,2917.0,"$1,910,635.00",$655.00,76.63,81.18,%65.68,%81.32,%53.51
Hernandez High School,District,4635.0,"$3,022,020.00",$652.00,77.29,80.93,%66.75,%80.86,%53.53
Johnson High School,District,4761.0,"$3,094,650.00",$650.00,77.07,80.97,%66.06,%81.22,%53.54

In [45]:
#Calculating Scores by School Spending
#add a the Spending bins as a column in FinalSchoolSummary

#set up bins and lables
spending_bins = [0, 585, 630, 645, 680]

#create name for bins:
group_name = ["<$585", "$585-630", "$630-645", "$645-680"]



NewFinal=FinalSchoolSummary

NewFinal["Spending Ranges (Per Student)"]=pd.cut(FinalSchoolSummary["Budget Per Student"], spending_bins, labels = group_name)

NewFinal = NewFinal.reset_index(drop=True)

SchoolSpending=NewFinal[["Spending Ranges (Per Student)","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing" ]]

SchoolSpending=SchoolSpending.groupby("Spending Ranges (Per Student)").mean()

SchoolSpending

TypeError: '<' not supported between instances of 'int' and 'str'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [42]:
#set up bins and lables
bins = [0, 1000, 2000, 5000]

SchoolSize = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

scoreSize = FinalSchoolSummary[['Total Students','Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing']]

scoreSize["School Size"] = pd.cut(scoreSize["Total Students"], bins, labels=SchoolSize)

NewFinal = NewFinal.reset_index(drop=True)

scoreSize=scoreSize.groupby("School Size").mean()

scoreSize = scoreSize[['Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing']]

scoreSize

<ipython-input-42-ec08fc3a895a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  scoreSize["School Size"] = pd.cut(scoreSize["Total Students"], bins, labels=SchoolSize)

KeyError: "None of [Index(['Average Math Score', 'Average Reading Score', '% Passing Math',\n       '% Passing Reading', '% Overall Passing'],\n      dtype='object')] are in the [columns]"

## Scores by School Type

* Perform the same operations as above, based on school type

In [44]:
#Groupby school type

scoreType = FinalSchoolSummary[['School Type','Average Math Score', 'Average Reading Score', '% Passing Math',
       '% Passing Reading', '% Overall Passing']]

scoreType = scoreType.groupby("School Type").mean()

scoreType

DataError: No numeric types to aggregate